@import "@fontsource/roboto/300.css";
@import "@fontsource/roboto/400.css";
@import "@fontsource/roboto/500.css";
@import "@fontsource/roboto/700.css";
@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: "Roboto", sans-serif;
  color: #07142b;
  font-size: 10px;
}

.formControl .MuiFormLabel-root.formControl-label {
  font-size: 1rem;
  font-weight: bold;
  font-family: "HK Grotesk", sans-serif;
  color: #07142b;
  line-height: 1.9rem;
  margin-bottom: 5px;
  text-transform: capitalize;
}

.formControl .MuiInputBase-input {
  border-radius: 4px;
  box-shadow: none;
  padding: 0.4rem 0.2rem 0.6rem 1.5rem;
  /* border: 1px solid #838fa0; */
  outline: 1px solid transparent;
  color: #07142b;
  font-size: 1rem;
  line-height: 1.6rem;
  height: 40px;
}

.formControl .MuiSelect-select {
  border-radius: 4px;
  box-shadow: none;
  padding: 1rem 3rem 1rem 1.5rem;
  /* border: 1px solid #838fa0; */
  outline: 1px solid transparent;
  color: #07142b;
  font-size: 1.2rem;
  line-height: 1.2rem;
  min-height: auto !important;
}

input::placeholder {
  font-size: 1rem;
  line-height: 1.6rem;
}

.MuiButtonBase-root.customActionBtn {
  padding: 0 20px;
  border-radius: 50px;
  min-width: 100px;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out,
    border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  font-size: 1rem;
  line-height: 2.7rem;
  font-weight: 600;
}

.MuiButtonBase-root.customActionBtn.personal {
  background: #0c1986;
}
.MuiButtonBase-root.customActionBtn.default {
  background: #e5e5e5;
  border: 1px solid transparent;
  color: #5e5e5e;
}

.MuiButtonBase-root.customActionBtn.next {
  color: #07142b;
  background-color: #ffc85e;
  border-color: #ffc85e;
  box-shadow: none;
}
.MuiStepIcon-root {
  color: #607d8b !important;
}
.MuiStepIcon-root.Mui-active {
  color: #1976d2 !important;
}
.MuiStepIcon-root.Mui-completed {
  color: #4caf50 !important;
}

.tiptap {
  height: 200px;
  box-sizing: border-box;
  border-radius: 5px;
  padding: 20px;
  outline: 1px solid transparent;
}
.tiptap ul {
  margin-left: 30px;
}
.tiptap ul li {
  list-style-type: disc;
}
